@import "./blocks/_variable";

@import "./blocks/_media";

@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swa);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

@import "./blocks/_base";
@import "./blocks/_header";
@import "./blocks/_hello";
@import "./blocks/_offers";
@import "./blocks/_offer";
@import "./blocks/_button";
@import "./blocks/_section";
@import "./blocks/_headline";
@import "./blocks/_why";
@import "./blocks/_elem";
@import "./blocks/_reviews";
@import "./blocks/_interactive-avatar";
@import "./blocks/_form";
@import "./blocks/_radio";
@import "./blocks/_fixed_menu";
@import "./blocks/_footer";
@import "./blocks/_hamburger";
@import "./blocks/_product";
@import "./blocks/_options";
@import "./blocks/_fulscreen";
@import "./blocks/_team";
@import "./blocks/_modal";
@import "./blocks/_menu-acco";
@import "./blocks/_map";
@import "./blocks/_player";