.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: rem(20px) 0;

  @include tablets {
    background-color: #1968B1;
    height: rem(91px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(20px);
  }
}


.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  margin-right: rem(46px);
  
} 

.menu {
  margin: 0 20px;
  padding-top: 5px;

  @include tablets {
    display: none;
  }
}
 

.menu__list  {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
}

.menu__link {
  white-space: nowrap;
}

.menu__item {
  font-style: normal;
  font-weight: bold;
  margin-right: rem(22px);
  margin-bottom: rem(10px); 

  &:last-child {
    margin-right: rem(0px);
  }
}


.menu__item :hover {
  color: #000000 ;
  transition: 0.3s all;
}

.contacts__phone.header__contacts-phone {
  @include tablets {
    display: none;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .contacts__phone {
  display: flex;
  font-size: rem(22px);
  align-items: center;
  
 }
 
 .contacts__icon {
  display: block;
  flex-shrink: 0;
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
 }

 .phone-icon__white {
  display: block;
  width: 100%;
  height: 100%;
  fill:  #FFFFFF;
 }

.contacts__number-white {
  white-space: nowrap;
  font-weight: bold;
  font-style: normal;

}



