.why__list {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.why__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  &:before {
    content: url(../../img/cercl.png);
    position: absolute;
    top: rem(50px);
    right: 0;
    transform: translateX(50%);
   
    @include tablets {
    display: none;
    }
    }

  &:first-child {
    padding: 0;
  }
  
  &:last-child {
    padding: 0;

    &:before {
      display: none;
    }

  }

  @include phones {
    padding: 0;
    margin: rem(10px);
    display: flex;
    }
  
}