.order-section {
  background: url(../img/cta-2.png) center top no-repeat;
  background-size: cover;
  color:  #FFFFFF;
}

.section__title-white {
  font-weight: bold;
  font-size: rem(48px);
  text-align: center;
  text-transform: uppercase;
  margin-top: rem(62px);
  margin-bottom: rem(61px);
  

  @include mini {
    font-size: rem(30px);
    margin-bottom: rem(10px);
  }
}

.form {
  display: flex;
  
  
  @include tablets {
    padding: 0 19%;
    flex-direction: column;
  }

  @include phones {
    padding: 0 1%;
    
  }
}

.form__col {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }

}

.form__row {
  display: flex;
  margin-bottom: rem(18px);
}

.form__order {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: 0;
  padding: rem(11px) rem(18px);
  border: rem(3px) solid transparent;

  &--textarea {
    height: rem(152px);
    resize: none;

    @include mini {
      height: rem(100px);
    }
  }

  &:focus {
    border-color: #FFD517;
    outline: none ;
  }

  @include mini {
    padding: rem(3px) rem(3px);
  }

}



.form__controls {
  display: flex;
  flex-wrap: wrap;
  
  @include phones {
    justify-content: center;
    align-items: center;
  }
}

.form__btns {
  margin-top: rem(44px);
  display: flex;
  justify-content: center;

  @include phones {
    margin-top: rem(10px);
  }

}

.form__title {
  @include mini {
    font-size: rem(14px);
  }
}