html {
  font-size: $basefontsize;

  @include tablets {
    font-size: $basefontsize - 1px;
  }
  @include phones {
    font-size: $basefontsize - 2px;
  }
  
}
body,html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Alegreya Sans";
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
p {
  padding: 0;
  margin: 0; 
}


a {
  color: inherit ;
  cursor: pointer;
  text-decoration: none;
} 

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.wrapper__content{
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}
.container {
  padding: 0px 0px;
  margin: 0 auto;
  max-width: $containerwidht;
  width: 95%;
  height: 100%;

  @include phones {
    width: 100%;
  }
}


.title {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: bold;  
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}




