.elem {
  text-align: center;
  
}
.elem__img {
  margin-bottom: rem(20px);
}


.elem__img-wrappwer {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.elem__icon {
  width: rem(68px);
  height: rem(68px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.elem__title {
  margin-bottom: rem(20px);
  font-weight: bold;
  font-size: rem(27px);
  color: $black;
}

