

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: rem(20px);
  margin-bottom: rem(20px);

  @include phones {
    flex-direction: column;
  }

 
}

.contacts__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: rem(0 20px);

  @include phones {
   align-items: center;
   
  }
}

.contacts-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.contacts__text {
  margin-bottom: rem(5px);
  font-style: normal;
  font-size: rem(21px);

  @include phones {
    margin-bottom: 0;
   }

   @include mini {
    font-size: rem(14px);
  }
}

.contacts__number {
  font-style: normal;
  font-weight: normal;
  font-size: rem(21px);

  @include mini {
    font-size: rem(14px);
  }
}

.contacts__icon {
  display: block;
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(7px);

  @include mini {
    width: rem(8px);
    height: rem(8px);
  }
}

.phone-icon {
  display: block;
  width: 100%;
  height: 100%;
}
.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__item {
  margin-right: rem(14px);
}

.social__link {
  display: block;
  width: rem(24px);
  height: rem(24px);

  @include mini {
    width: rem(12px);
    height: rem(12px);
  }
}


.vk-icon, .fb-icon, .inst-icon, .tw-icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: #B3B3B3;

  &:hover {
    fill: $black;
  }
}

