.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  margin-right: rem(46px);
  
} 

.menu {
  margin: 0 20px;
  padding-top: 5px;
  @include tablets {
    display: none;
  }
}
 

.menu__list  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
}

.menu__link {
  white-space: nowrap;
}

.menu__item {
  font-style: normal;
  font-weight: bold;
  margin-right: rem(22px);
  margin-bottom: rem(10px); 

  &:last-child {
    margin-right: rem(0px);
  }
}


.menu__item :hover {
  color: #000000 ;
  transition: 0.3s all;
}

.contacts__phone.header__contacts-phone {
  @include tablets {
    display: none;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .contacts__phone {
  display: flex;
  font-size: rem(22px);
  align-items: center;
  font-weight: bold;
 }

 .contacts__icon {
  flex-shrink: 0;
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
 }
 

.contacts__number {
  white-space: nowrap;
}



