.offers__list {
  display: flex;
  justify-content: flex-start;
}

.offer__item {
  display: flex;
  justify-content: flex-start;
  margin-right: rem(30px);

  &:last-child {
    margin-right: rem(0px);
  }
  
}


