
.container-product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.product__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  @include tablets {
    flex-direction: column;
  }
}

.product__options {
  flex: 1;
  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
 
}

.product__img {
flex-shrink: 0;
flex: 1;
}


.product__text {
  display: flex;
  flex-direction: column;
  min-width: rem(374px);
 
  @include tablets {
    align-items: center;
  }
  @include mini {
    font-size: rem(14px);
  }
}

.product__title {
  font-weight: bold;
  font-size: rem(36px);
  margin-bottom: rem(24px);
  color: #000000;
  text-transform: uppercase;
  
  @include mini {
    font-size: rem(30px);
  }
}

.product-size__list {
  margin-top: rem(24px);
  margin-bottom: rem(30px);
  display: flex;
  justify-content: flex-start;
 

  @include tablets {
    justify-content: center;
  }

}
.product-size__elem {
  width: 60%;

  @include tablets {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    }
}



.product-size__desq {
  font-weight: bold;
  color: #000000;
  text-align: start;
  margin-bottom: rem(24px);
  
  @include tablets {
    text-align: start;
    align-items: center;
  }
  @include mini {
    font-size: rem(14px);
  }
}

.product__cost-title {
  font-size: rem(60px);
  line-height: 83%;
  color: #151515;
  white-space: nowrap;

  @include mini {
    font-size: rem(30px);
  }
}


  
.product-slider__arrow--direction-next {
  right:rem(-26px);
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include tablets {
    top: 30%;
    transform: translateY(-30%);
    right: 10%;
  }
 
}
.product-slider__arrow--direction-prev {
  left: rem(-26px);
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include tablets {
    top: 30%;
    transform: translateY(-30%);
    left: 10%;
  }
}