.reviews__display {
  background: $background;
  padding: 50px 35px 44px;
  margin-bottom: 15px;
  color: $black;
}

.reviews__display-content {
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.reviews__text {
  flex: 1;
  padding: 38px 70px;
}

.reviews__title {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 14px;
  
}

.reviews__desq {
  margin-bottom: 25px;
  color: $grey;
}

.reviews__list {
  display: flex;
  align-items: center;
  justify-content: center;

}