.reviews__display {
  background: $background;
  padding: rem(50px) rem(35px) rem(44px);
  margin-bottom: rem(15px);
  color: $black;
}

.reviews__display-content {
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: rem(253px);
  height: rem(264px);

  @include tablets {
    width: rem(130px);
    height: rem(132px);
  }
}

.reviews__avatar-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.reviews__text {
  flex: 1;
  padding: rem(38px) rem(70px);
}

.reviews__title {
  font-weight: bold;
  font-size: rem(27px);
  margin-bottom: rem(14px);
  
}

.reviews__desq {
  margin-bottom: rem(25px);
  color: $grey;
}

.reviews__list {
  display: flex;
  align-items: center;
  justify-content: center;

}